<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>SpringInvoke</display-name>
    <servlet>
      <servlet-name>service</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:server-service-servlet.xml</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>service</servlet-name>
      <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

    <!-- 其实下面这个welcome-file-list没啥用，我留着只是为了在起好Tomcat后不会报一个404而已 -->
    <welcome-file-list>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list>


</web-app>
